<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inogard.enio.api.mappers.rfq.RfqCusMapper">
	<select id="findAllByRfqNo" parameterType="string" resultType="kr.co.inogard.enio.api.domain.rfq.RfqCus">
	<![CDATA[
          SELECT a.rfq_no
                  ,  a.cus_cd
                  ,  a.quot_rev
                  ,  a.result_yn as rslt_yn
                  ,  a.po_dt as po_ymd
                  ,  b.user_nm as cus_chrgr_nm
                  ,  b.user_email as cus_chrgr_email
                  ,  b.user_tel as cus_chrgr_tel
                  ,  b.user_sms as cus_chrgr_sms
                  ,  b.user_fax as cus_chrgr_fax
                  ,  a.quot_sbmt_dt
                  ,  a.tech_score
                  ,  a.amt_score
                  ,  c.guarantee_amt
                  ,  a.spot_dscr_chk_yn
                  ,  a.rfqdoc_chk_yn               
          FROM tb_rfqcus a with (nolock)
          JOIN tb_usercode b with (nolock) On b.user_cd = a.cus_usrcd
          LEFT OUTER JOIN tb_guarantee c with(nolock) on c.guarantee_no = a.rfq_no
                                                                   And c.guarantee_typecd = '001'
                                                                   And c.req_cuscd = a.cus_cd
                                                                   And c.use_yn = 'Y'
          WHERE a.rfq_no = #{rfqNo}
      
	]]>
	</select>


</mapper>