<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inogard.enio.api.mappers.pr.PrMapMapper">
	<insert id="add" parameterType="kr.co.inogard.enio.api.domain.pr.PrMap">
  <![CDATA[
    INSERT INTO api_prmap (
      agt_cd, 
      e4u_pr_no, 
      erp_pr_no, 
      reg_dt
    ) VALUES (
      #{agtCd}, 
      #{e4uPrNo}, 
      #{erpPrNo}, 
      Getdate()
    )
  ]]>
	</insert>
	
	<select id="findAll" parameterType="hashmap" resultType="kr.co.inogard.enio.api.domain.pr.PrMap">
	<![CDATA[
		SELECT a.agt_cd, 
		       a.erp_pr_no, 
		       a.e4u_pr_no, 
		       a.reg_dt 
		FROM   api_prmap a WITH(nolock) 
		WHERE a.agt_cd = #{agtCd} 
    AND a.e4u_pr_no = #{prNo} 
	]]>
	</select>

	<select id="findByRfqNo" parameterType="string" resultType="kr.co.inogard.enio.api.domain.pr.PrMap">
	<![CDATA[
		SELECT a1.org_cd AS agt_cd, 
		       a2.erp_pr_no, 
		       a.pr_no AS e4u_pr_no, 
		       a2.reg_dt 
		FROM   tb_pritem a WITH(nolock) 
		       INNER JOIN tb_pr a1 WITH(nolock) ON( a.pr_no = a1.pr_no ) 
		       LEFT JOIN api_prmap a2 WITH(nolock) ON( a1.org_cd = a2.agt_cd AND a1.pr_no = a2.e4u_pr_no ) 
		WHERE a.rfq_no = #{rfqNo} 
    AND a.pr_seq = '00001' 
	]]>
	</select>

	<delete id="delPrMap" parameterType="string">
          <![CDATA[
              DELETE api_prmap Where e4u_pr_no = #{prNo}
          ]]>
    </delete>
</mapper>
